/* Global */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  background: #0f172a;
  color: white;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  position: fixed;
  width: 100%;
  background: rgba(15, 23, 42, 0.9);
  backdrop-filter: blur(10px);
  z-index: 1000;
}

.logo {
  color: #38bdf8;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #38bdf8;
}

/* Hero Section */
.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  text-align: center;
  padding: 0 20px;
}

.hero span {
  color: #38bdf8;
}

.hero h1 {
  font-size: 3rem;
}

.hero h3 {
  margin: 10px 0;
  font-weight: 400;
  color: #cbd5e1;
}

.hero p {
  max-width: 600px;
  margin: 20px auto;
  color: #94a3b8;
}

.hero-buttons {
  margin-top: 20px;
}

.btn-primary {
  padding: 10px 25px;
  background: #38bdf8;
  border: none;
  color: black;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

.btn-outline {
  padding: 10px 25px;
  background: transparent;
  border: 2px solid #38bdf8;
  color: #38bdf8;
  cursor: pointer;
  border-radius: 5px;
}

/* Projects */
.projects {
  padding: 100px 60px;
  text-align: center;
}

.project-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 40px;
}

.project-card {
  background: #1e293b;
  padding: 30px;
  width: 280px;
  border-radius: 10px;
  transition: 0.3s;
}

.project-card:hover {
  transform: translateY(-10px);
  background: #334155;
}

/* Contact */
.contact {
  padding: 80px;
  text-align: center;
  background: #1e293b;
}